<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task D</title>
    <script src="6a.js"></script>
</head>
<style>
label {
    display: table-cell;
    margin-bottom: 10px;
    padding-right: 10px;
}
body {
    display: table;
}

div {
    display: table-row;
}
</style>
<body>
    <div>
        <label for="fName">First name: <%= firstName%> </label>
    </div>
    <div>
        <label for="lName">Last name: <%= lastName%> </label>
    </div>
    <div>
        <label for="age">Age: <%= age%> </label>
    </div>
</body>
</html>