#content {
    column-count: 2;
    column-gap: 100px;
    column-rule-style: solid;
    column-rule-color: #323232;
    height: 100% !important;
    display: block;
}

#content p {
    display: block;
}

img.left {
    margin-right: 10px;
    float: left;
}

img.right {
    margin-left: 10px;
    float: right;
}

img.small {
    max-width: 100px;
}

img.medium {
    max-width: 150px;
}

img.big {
    max-width: 200px;
}

p.left {
    clear: left;
}

p.right {
    clear: right;
}

p.both {
    clear: both;
}